@mixin custom_border_shadow
{
    border: 1px solid #4A357D;
    box-shadow: -5px 6px 20px 0px rgba(74, 53, 125, 0.50);
}


@mixin custom_checkbox
{
    background: black;
    box-shadow: -5px -5px var(--spread) 0px #5B51D8,
    0 -5px var(--spread) 0px #833AB4, 5px -5px var(--spread) 0px #E1306C,
    5px 0 var(--spread) 0px #FD1D1D, 5px 5px var(--spread) 0px #F77737,
    0 5px var(--spread) 0px #FCAF45, -10px 10px var(--spread) 0px #FFDC80;
}


