// Variables
$background-light-color: #F5F5F5;
$color-box: #FFFFFF;
$color-box-dark: #F8F8F8;
$font-color-light: #703876;
$font-color-dark: #F5F5F5;
$background-toggle-off: var(--background);
$background-toggle-knob: #fff000;
$background-dark: #3b2a37;
$background-nom:#7F3977;
$button_search:#0f0092;
$button_hover:#0056b3;
$placeholder:#B6B0B0;