// Variables
$background-light-color: #F5F5F5;
$color-box: #FFFFFF;
$color-box-dark: #F8F8F8;
$font-color-light: #703876;
$font-color-dark: #F5F5F5;
/* $background: #28096b;
$background-toggle-on: #522ba7; */
$background-toggle-off: var(--background);
$background-toggle-knob: #fff000;
$background-dark:#333;
$background-nom:#7F3977;